<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:spring-context-base.xml"/>
    <import resource="classpath:spring-context-rest.xml"/>
    <import resource="classpath:spring-context-ui.xml"/>
    <import resource="classpath:spring-context-auth.xml"/>

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <props>
                <!-- Property defaults, that can be overridden in brouker.properties -->
                <prop key="rb.messaging.smtp-server">goldfinger.lichtflut.de</prop>

            </props>
        </property>
        <property name="locations">
            <list>
                <value>classpath:brouker.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean id="emailConfig" class="de.lichtflut.brouker.conf.BroukerEmailConfiguration"/>

    <bean id="securityConfig" class="de.lichtflut.rb.application.extensions.DefaultSecurityConfiguration"/>

    <bean id="domainValidator" class="de.lichtflut.rb.application.common.DefaultDomainValidator"/>

    <bean id="rbConfig" class="de.lichtflut.rb.core.config.RBConfig">
        <constructor-arg value="brouker"></constructor-arg>
        <property name="emailConfiguration" ref="emailConfig"/>
        <property name="securityConfiguration" ref="securityConfig"/>
        <property name="domainValidator" ref="domainValidator"/>
    </bean>

    <bean id="wicketApplication" class="de.lichtflut.brouker.BroukerWebApplication" >
        <property name="config" ref="rbConfig"/>
    </bean>

    <bean id="queryServicePathBuilder" class="de.lichtflut.rb.webck.config.DefaultQueryServicePathBuilder">
    </bean>

    <bean id="resourceLinkProvider" class="de.lichtflut.rb.application.extensions.RBResourceLinkProvider">
    </bean>

    <bean id="fileService" class="de.lichtflut.rb.core.services.impl.SimpleFileService" >
        <constructor-arg index="0" ref="rbConfig"/>
    </bean>

</beans>